<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.aminography.worldcities.citylist">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_userlist">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>